/*
 * CSS for HTML5 Pokemon Online Client
 */
html, body {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 1200px;
	width: 90%;
	margin: 0 auto;
}

#tabs {
	height: 100%;
}


#main {
	height: 100%;
}

#channels {
	margin-top: 1em;
}
#channels li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

#playerlist, #channellist, #battlelist {
       list-style: none;
}

#dialog-connect-servers-container {
	max-height:300px;
	overflow:scroll;

}

/* Layout */

.container {
	/* used for elements that should not have padding or scrollbars */
	padding:	0;
	overflow:	hidden;
}

.chatWrapper {
	min-height:	100px;
}

.chat {
	overflow:	hidden;
	overflow-y:	scroll;
	position:	relative;
}
