/*
 * CSS for HTML5 Pokemon Online Client
 */
html, body {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 1200px;
	margin: 0 auto;
}

#tabs {
	width: 28%;
}

#channels {
	margin-top: 1em;
}
#channels li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

#playerlist, #channellist, #battlelist {
       list-style: none;
}


#main {
	width: 69%;
}

#footer {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.frames {
	border-style: solid;
	border-color: blue;
}

#dialog-connect-servers-container {
	max-height:300px;
	overflow:scroll;

}
